# **Project: Providing data-driven suggestions for HR**

## Project Description and Deliverables 

This project is an opportunity for me to analyze an HR dataset and build predictive models that provide meaningful insights to the Human Resources (HR) department of a large consulting firm. My goal is to develop a model that predicts whether or not an employee is likely to leave the organization, which can help HR improve employee retention strategies.

Upon completing this project, I will produce two final deliverables that I can present to future employers:

1. A one-page summary report that presents the key findings and insights for external stakeholders, written from the perspective of a data professional working at Salifort Motors.

2. A complete code notebook, including all data preparation, exploratory data analysis (EDA), modeling, evaluation, visualizations, and conclusions.

For the modeling approach, I will choose one method either a regression model or a machine learning classification model to predict employee attrition. Although example solutions may show both approaches, I will select and complete only one.

#### My deliverables will include:

Model evaluation results and interpretation 

At least one meaningful data visualization directly related to my research question

Ethical considerations regarding data usage and modeling

A list of resources I used to troubleshoot issues and guide development

### Familiarize with the HR dataset 

In this [dataset](https://www.kaggle.com/datasets/mfaisalqureshi/hr-analytics-and-job-prediction?select=HR_comma_sep.csv), there are 14,999 rows, 10 columns, and these variables: 

Variable  |Description |
-----|-----| 
satisfaction_level|Employee-reported job satisfaction level [0&ndash;1]|
last_evaluation|Score of employee's last performance review [0&ndash;1]|
number_project|Number of projects employee contributes to|
average_monthly_hours|Average number of hours employee worked per month|
time_spend_company|How long the employee has been with the company (years)
Work_accident|Whether or not the employee experienced an accident while at work
left|Whether or not the employee left the company
promotion_last_5years|Whether or not the employee was promoted in the last 5 years
Department|The employee's department
salary|The employee's salary (U.S. dollars)

## Step 1. Imports

*   Import packages
*   Load dataset

In [4]:

%pip install xgboost

# For data manipulation
import numpy as np
import pandas as pd

# For data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# For displaying all of the columns in dataframes
pd.set_option('display.max_columns', None)

# For data modeling
from xgboost import XGBClassifier
from xgboost import XGBRegressor
from xgboost import plot_importance

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

# For metrics and helpful functions
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score,\
f1_score, confusion_matrix, ConfusionMatrixDisplay, classification_report
from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.tree import plot_tree

# For saving models
import pickle

Collecting xgboost
  Using cached xgboost-3.1.2-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\users\gande\anaconda3\lib\site-packages (from xgboost) (2.1.3)
Requirement already satisfied: scipy in c:\users\gande\anaconda3\lib\site-packages (from xgboost) (1.15.3)
Using cached xgboost-3.1.2-py3-none-win_amd64.whl (72.0 MB)
Installing collected packages: xgboost
Successfully installed xgboost-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [5]:

# Load dataset into a dataframe
df = pd.read_csv("HR_comma_sep.csv")
# Display first few rows of the dataframe
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [7]:
df.tail()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [9]:
df.shape

(14999, 10)